.image-upload-grid {
    display: flex;
    justify-content: left;
    gap: 20px;
}

.image-upload-container {
    position: relative;
    width: 300px;
    height: 250px;
    text-align: center;
    display: flex;
    justify-content: left;
    align-items: left;
}

.upload-box {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #aaa;
    border: 2px dashed #ccc;
    transition: background-color 0.3s;
}

.upload-box:hover {
    background-color: #f0f0f0;
}

.upload-box input {
    display: none;
}

.uploaded-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.date-image-upload-delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #ff4d4f;
    color: white;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-button:hover {
    background-color: #ff1a1c;
}

.delete-button:focus {
    outline: none;
}

/* Modal styling */
.image-modal {
    position: relative;
    width: 80%;
    max-width: 800px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.image-modal-overlay {
    background-color: rgba(0, 0, 0, 0.75);
}

.modal-image {
    width: 100%;
    border-radius: 10px;
}

.close-modal-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff4d4f;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
}
