.back-link {
    display: block;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

p {
    margin-bottom: 5px;
}

.attendees-list {
    list-style: none;
    padding: 0;
}

.attendees-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.attendees-item span {
    margin-right: 10px;
}

.attendees-item button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    border-radius: 4px;
}

.attendees-item button:hover {
    background-color: #3e8e41;
    cursor: pointer;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Align items vertically */
    margin: 0 auto;
    max-width: 80%; /* Optional: Limit max width of the container */
    padding: 20px;
}